body{
	background-image:url('../img/bg7.jpg');
}
.bg{
	width: 603px;
	height: 603px;
	background:black;
	opacity:1;
	border-radius: 10px;
	position:absolute;
	top:200px;
	right:200px;
}
/*  .bg2{
	width: 600px;
	height: 600px;
	border-radius: 10px;
	position:absolute;
	top:200px;
	right:130px;
	border:3px solid tomato  */
	.bg span{
		color:white;
		font-size:25px;
		font-family:华文细黑;
		font-weight:800;
		position:absolute;
		top:20px;
		left:50px;
		border-left:3px solid tomato;
		padding-left:15px;
		text-shadow:0px 0px 5px white;
	}

	form{
		margin-top:130px;
		margin-left: 150px;
	}
/* 
	#username{
		width: 250px;
		height: 40px;
		background:red;

	} */
	#username input{
		outline:none;
		border:0px;
		line-height:35px;
		border-radius:0px;
		border:3px solid tomato;
		vertical-align:top;
	}
	
	i{
		color:white;
		font-size:40px !important;
		margin-right:40px;
		margin-left:-30px;
	}

	#password input{
		outline:none;
		border:0px;
		line-height:35px;
		border-radius:0px;
		border:3px solid tomato;
		vertical-align:top;
	}

	#password{
		margin-top:40px;
	}

	#username p{
		color:white;
		font-family:华文细黑;
		margin-left:60px;
	}

	#password p{
		color:white;
		font-family:华文细黑;
		margin-left:60px;
	}

	#code input{
		outline:none;
		border:0px;
		line-height:35px;
		border-radius:0px;
		border:3px solid tomato;
		vertical-align:top;
		margin-top:20px;
		margin-left:-32px;
	}

	#code p{
		color:white;
		font-family:华文细黑;
		margin-left:-30px;
	}

	#sgin{
		color:white;
		background:tomato;
		width: 400px;
		height:45px;
		border:0px;
		margin-top:30px;
		margin-left:-40px;
		font-size:20px;
		letter-spacing:3px;
		box-shadow:0px 0px 40px tomato;
	}

	#codenum{
		width: 140px;
		height: 43px;
		background:tomato;
		margin-left:108px;
		margin-top:-63px;
	}

	#code{
		margin-left:90px;

	}

	#codenum p{
		color:white;
		margin-left:40px;
		line-height:43px;
		font-size:20px;
		letter-spacing:5px;
	}

	#code i{
		margin-left:-120px;
		/* margin-top:30px; */
		position:absolute;
		top:380px;
		/* left:0px; */

	}